<a href="https://colab.research.google.com/github/sana9524/Farha0952/blob/main/Python_Day2Feb12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#import dataset
stats= pd.read_csv('/content/sample_data/DemographicData.csv')

In [4]:
stats.head

<bound method NDFrame.head of              Country Name Country Code  Birth rate  Internet users  \
0                   Aruba          ABW      10.244            78.9
1             Afghanistan          AFG      35.253             5.9
2                  Angola          AGO      45.985            19.1
3                 Albania          ALB      12.877            57.2
4    United Arab Emirates          ARE      11.044            88.0
..                    ...          ...         ...             ...
190           Yemen, Rep.          YEM      32.947            20.0
191          South Africa          ZAF      20.850            46.5
192      Congo, Dem. Rep.          COD      42.394             2.2
193                Zambia          ZMB      40.471            15.4
194              Zimbabwe          ZWE      35.715            18.5

            Income Group
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [5]:
stats.tail

<bound method NDFrame.tail of              Country Name Country Code  Birth rate  Internet users  \
0                   Aruba          ABW      10.244            78.9
1             Afghanistan          AFG      35.253             5.9
2                  Angola          AGO      45.985            19.1
3                 Albania          ALB      12.877            57.2
4    United Arab Emirates          ARE      11.044            88.0
..                    ...          ...         ...             ...
190           Yemen, Rep.          YEM      32.947            20.0
191          South Africa          ZAF      20.850            46.5
192      Congo, Dem. Rep.          COD      42.394             2.2
193                Zambia          ZMB      40.471            15.4
194              Zimbabwe          ZWE      35.715            18.5

            Income Group
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [6]:
len(stats)

195

In [9]:
stats.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [10]:
stats.info

<bound method DataFrame.info of              Country Name Country Code  Birth rate  Internet users  \
0                   Aruba          ABW      10.244            78.9
1             Afghanistan          AFG      35.253             5.9
2                  Angola          AGO      45.985            19.1
3                 Albania          ALB      12.877            57.2
4    United Arab Emirates          ARE      11.044            88.0
..                    ...          ...         ...             ...
190           Yemen, Rep.          YEM      32.947            20.0
191          South Africa          ZAF      20.850            46.5
192      Congo, Dem. Rep.          COD      42.394             2.2
193                Zambia          ZMB      40.471            15.4
194              Zimbabwe          ZWE      35.715            18.5

            Income Group
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [11]:
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [14]:
stats.columns=['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup']

In [15]:
stats.columns

Index(['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup'],
      dtype='object')

In [16]:
stats[190:]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [18]:
stats.iloc[:,[0,2]].values

array([['Aruba', 10.244],
       ['Afghanistan', 35.253],
       ['Angola', 45.985],
       ['Albania', 12.877],
       ['United Arab Emirates', 11.044],
       ['Argentina', 17.716],
       ['Armenia', 13.308],
       ['Antigua and Barbuda', 16.447],
       ['Australia', 13.2],
       ['Austria', 9.4],
       ['Azerbaijan', 18.3],
       ['Burundi', 44.151],
       ['Belgium', 11.2],
       ['Benin', 36.44],
       ['Burkina Faso', 40.551],
       ['Bangladesh', 20.142],
       ['Bulgaria', 9.2],
       ['Bahrain', 15.04],
       ['Bahamas, The', 15.339],
       ['Bosnia and Herzegovina', 9.062],
       ['Belarus', 12.5],
       ['Belize', 23.092],
       ['Bermuda', 10.4],
       ['Bolivia', 24.236],
       ['Brazil', 14.931],
       ['Barbados', 12.188],
       ['Brunei Darussalam', 16.405],
       ['Bhutan', 18.134],
       ['Botswana', 25.267],
       ['Central African Republic', 34.076],
       ['Canada', 10.9],
       ['Switzerland', 10.2],
       ['Chile', 13.385],
       ['China', 12.1],
       ["Cote d'Ivoire", 37.32],
       ['Cameroon', 37.236],
       ['Congo, Rep.', 37.011],
       ['Colombia', 16.076],
       ['Comoros', 34.326],
       ['Cabo Verde', 21.625],
       ['Costa Rica', 15.022],
       ['Cuba', 10.4],
       ['Cayman Islands', 12.5],
       ['Cyprus', 11.436],
       ['Czech Republic', 10.2],
       ['Germany', 8.5],
       ['Djibouti', 25.486],
       ['Denmark', 10.0],
       ['Dominican Republic', 21.198],
       ['Algeria', 24.738],
       ['Ecuador', 21.07],
       ['Egypt, Arab Rep.', 28.032],
       ['Eritrea', 34.8],
       ['Spain', 9.1],
       ['Estonia', 10.3],
       ['Ethiopia', 32.925],
       ['Finland', 10.7],
       ['Fiji', 20.463],
       ['France', 12.3],
       ['Micronesia, Fed. Sts.', 23.511],
       ['Gabon', 30.555],
       ['United Kingdom', 12.2],
       ['Georgia', 13.332],
       ['Ghana', 33.131],
       ['Guinea', 37.337],
       ['Gambia, The', 42.525],
       ['Guinea-Bissau', 37.503],
       ['Equatorial Guinea', 35.362],
       ['Greece', 8.5],
       ['Grenada', 19.334],
       ['Greenland', 14.5],
       ['Guatemala', 27.465],
       ['Guam', 17.389],
       ['Guyana', 18.885],
       ['Hong Kong SAR, China', 7.9],
       ['Honduras', 21.593],
       ['Croatia', 9.4],
       ['Haiti', 25.345],
       ['Hungary', 9.2],
       ['Indonesia', 20.297],
       ['India', 20.291],
       ['Ireland', 15.0],
       ['Iran, Islamic Rep.', 17.9],
       ['Iraq', 31.093],
       ['Iceland', 13.4],
       ['Israel', 21.3],
       ['Italy', 8.5],
       ['Jamaica', 13.54],
       ['Jordan', 27.046],
       ['Japan', 8.2],
       ['Kazakhstan', 22.73],
       ['Kenya', 35.194],
       ['Kyrgyz Republic', 27.2],
       ['Cambodia', 24.462],
       ['Kiribati', 29.044],
       ['Korea, Rep.', 8.6],
       ['Kuwait', 20.575],
       ['Lao PDR', 27.051],
       ['Lebanon', 13.426],
       ['Liberia', 35.521],
       ['Libya', 21.425],
       ['St. Lucia', 15.43],
       ['Liechtenstein', 9.2],
       ['Sri Lanka', 17.863],
       ['Lesotho', 28.738],
       ['Lithuania', 10.1],
       ['Luxembourg', 11.3],
       ['Latvia', 10.2],
       ['Macao SAR, China', 11.256],
       ['Morocco', 21.023],
       ['Moldova', 12.141],
       ['Madagascar', 34.686],
       ['Maldives', 21.447],
       ['Mexico', 19.104],
       ['Macedonia, FYR', 11.222],
       ['Mali', 44.138],
       ['Malta', 9.5],
       ['Myanmar', 18.119],
       ['Montenegro', 11.616],
       ['Mongolia', 24.275],
       ['Mozambique', 39.705],
       ['Mauritania', 33.801],
       ['Mauritius', 10.9],
       ['Malawi', 39.459],
       ['Malaysia', 16.805],
       ['Namibia', 29.937],
       ['New Caledonia', 17.0],
       ['Niger', 49.661],
       ['Nigeria', 40.045],
       ['Nicaragua', 20.788],
       ['Netherlands', 10.2],
       ['Norway', 11.6],
       ['Nepal', 20.923],
       ['New Zealand', 13.12],
       ['Oman', 20.419],
       ['Pakistan', 29.582],
       ['Panama', 19.68],
       ['Peru', 20.198],
       ['Philippines', 23.79],
       ['Papua New Guinea', 28.899],
       ['Poland', 9.6],
       ['Puerto Rico', 10.8],
       ['Portugal', 7.9],
       ['Paraguay', 21.588],
       ['French Polynesia', 16.393],
       ['Qatar', 11.94],
       ['Romania', 8.8],
       ['Russian Federation', 13.2],
       ['Rwanda', 32.689],
       ['Saudi Arabia', 20.576],
       ['Sudan', 33.477],
       ['Senegal', 38.533],
       ['Singapore', 9.3],
       ['Solomon Islands', 30.578],
       ['Sierra Leone', 36.729],
       ['El Salvador', 17.476],
       ['Somalia', 43.891],
       ['Serbia', 9.2],
       ['South Sudan', 37.126],
       ['Sao Tome and Principe', 34.537],
       ['Suriname', 18.455],
       ['Slovak Republic', 10.1],
       ['Slovenia', 10.2],
       ['Sweden', 11.8],
       ['Swaziland', 30.093],
       ['Seychelles', 18.6],
       ['Syrian Arab Republic', 24.043],
       ['Chad', 45.745],
       ['Togo', 36.08],
       ['Thailand', 11.041],
       ['Tajikistan', 30.792],
       ['Turkmenistan', 21.322],
       ['Timor-Leste', 35.755],
       ['Tonga', 25.409],
       ['Trinidad and Tobago', 14.59],
       ['Tunisia', 19.8],
       ['Turkey', 16.836],
       ['Tanzania', 39.518],
       ['Uganda', 43.474],
       ['Ukraine', 11.1],
       ['Uruguay', 14.374],
       ['United States', 12.5],
       ['Uzbekistan', 22.5],
       ['St. Vincent and the Grenadines', 16.306],
       ['Venezuela, RB', 19.842],
       ['Virgin Islands (U.S.)', 10.7],
       ['Vietnam', 15.537],
       ['Vanuatu', 26.739],
       ['West Bank and Gaza', 30.394],
       ['Samoa', 26.172],
       ['Yemen, Rep.', 32.947],
       ['South Africa', 20.85],
       ['Congo, Dem. Rep.', 42.394],
       ['Zambia', 40.471],
       ['Zimbabwe', 35.715]], dtype=object)

In [19]:
stats.iloc[190:192,1:3].values

array([['YEM', 32.947],
       ['ZAF', 20.85]], dtype=object)

In [22]:
stats.CountryName.head

<bound method NDFrame.head of 0                     Aruba
1               Afghanistan
2                    Angola
3                   Albania
4      United Arab Emirates
               ...
190             Yemen, Rep.
191            South Africa
192        Congo, Dem. Rep.
193                  Zambia
194                Zimbabwe
Name: CountryName, Length: 195, dtype: object>

In [23]:
stats[['CountryName','CountryCode']]

              CountryName CountryCode
0                   Aruba         ABW
1             Afghanistan         AFG
2                  Angola         AGO
3                 Albania         ALB
4    United Arab Emirates         ARE
..                    ...         ...
190           Yemen, Rep.         YEM
191          South Africa         ZAF
192      Congo, Dem. Rep.         COD
193                Zambia         ZMB
194              Zimbabwe         ZWE

[195 rows x 2 columns]

In [25]:
stats.Internetusers/stats.Birthrate

0      7.702070
1      0.167362
2      0.415353
3      4.442028
4      7.968127
         ...
190    0.607036
191    2.230216
192    0.051894
193    0.380519
194    0.517990
Length: 195, dtype: float64

In [26]:
stats.head

<bound method NDFrame.head of               CountryName CountryCode  Birthrate  Internetusers  \
0                   Aruba         ABW     10.244           78.9
1             Afghanistan         AFG     35.253            5.9
2                  Angola         AGO     45.985           19.1
3                 Albania         ALB     12.877           57.2
4    United Arab Emirates         ARE     11.044           88.0
..                    ...         ...        ...            ...
190           Yemen, Rep.         YEM     32.947           20.0
191          South Africa         ZAF     20.850           46.5
192      Congo, Dem. Rep.         COD     42.394            2.2
193                Zambia         ZMB     40.471           15.4
194              Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [28]:
stats['New']=stats.Internetusers/stats.Birthrate

In [33]:
stats=stats.drop('New',axis=1)
stats.head

<bound method NDFrame.head of               CountryName CountryCode  Birthrate  Internetusers  \
0                   Aruba         ABW     10.244           78.9
1             Afghanistan         AFG     35.253            5.9
2                  Angola         AGO     45.985           19.1
3                 Albania         ALB     12.877           57.2
4    United Arab Emirates         ARE     11.044           88.0
..                    ...         ...        ...            ...
190           Yemen, Rep.         YEM     32.947           20.0
191          South Africa         ZAF     20.850           46.5
192      Congo, Dem. Rep.         COD     42.394            2.2
193                Zambia         ZMB     40.471           15.4
194              Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [ ]:
stats=stats.drop('New',axis=1)
stats.head

NameError: ignored